<%
@full_title = 'portfolio of ryan berdeen'
@page_title = 'portfolio'
%>
<ul class="portfolio"><% @projects.each do |project| %>
  <li>
    <div class="work">
      <% if project.media.first %>
        <%= render :partial => "#{project.media.first.media_type}_media_preview", :locals => {:media => project.media.first} %>
      <% end %>
    </div>
    <div class="description">
      <h3><%= link_to project.title, project_url(project) %></h3>
      <%= project.excerpt %>
      <p class="links">
        <%= link_to 'more info', project_url(project) %>
        <% project.primary_links.each do |link| %>
        <a href="<%= link.url %>"><%= link.link_text %></a>
        <% end %>
      </p>
    </div>
  </li><% end %>
</ul>
