<%
@full_title = 'portfolio of ryan berdeen'
@page_title = 'portfolio'
%>
<ul class="portfolio"><% @projects.each do |project| %>
  <li>
    <div class="work">
      <% if project.media.first %>
        <%= render :partial => "#{project.media.first.media_type}_media", :locals => {:media => project.media.first} %>
      <% end %>
    </div>
    <div class="description">
      <h3><%= project.title %></h3>
      <p><%= project.description %></p>
      <% unless project.primary_links.empty? %><p class="links">
        <% project.primary_links.each do |link| %>
        <a href="<%= link.url %>"><%= link.link_text %></a>
        <% end %>
      </p><% end %>
    </div>
  </li><% end %>
</ul>
